.lab11{
	border-style: groove;
	border-color: skyblue;
	text-align: center;
	background-color: wheat;
}

.result{
	border-bottom: 1px solid;
	background-color: salmon;
	width: 28%;
	color: white;
	height: 30px;



}